body {
    background-color: cyan;
}
h2 {
    text-align: center;
    font-family: algerian;
}
table {
    position:relative;
    left: 0px;
    border: 3px solid black;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #050404;
    text-align: center;
    padding: 9px;
}

tr:nth-child(even) {
    background-color:white;
}
div {
    text-align: start;
}